header {
    background-color: #435178;
}

#current {
    border-radius: 5px;
    padding:10px;
}

#fiveday {
    display:flex;
    justify-content: space-between;
    padding:3px;
}

.card-body {
    background-color: #152238;
    color: white;
    border-radius: 5px;
    
}

.low-index {
    background-color: green;
    color:white;
    border-radius: 5px;
    width:fit-content;
    padding:2px;
}

.moderate-index {
    background-color: yellow;
    border-radius: 5px;
    width:fit-content;
    padding:2px;
}

.high-index {
    width:fit-content;
    background-color: orange;
    color:white;
    border-radius: 5px;
    padding:2px;
}

.very-high-index {
    color:white;
    background-color: red;
    border-radius: 5px;
    width:fit-content;
    padding:2px;
}

.extreme-index {
    background-color: purple;
    color:white;
    border-radius: 5px;
    width:fit-content;
    padding:2px;
}